.modal-header {
    padding: 12px;    
    border-bottom: 1px solid #CECECE;
    display: flex;
    justify-content: space-between;
}

.modal-header .modal-icon-close {
    padding-top: 5px;
    cursor: pointer;
    transition: all .15s ease-in 0s;
}

.modal-header .modal-icon-close:hover {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}

.modal-header .modal-icon-close svg {
    fill: #C4C4C4;
}

.modal-header .title {
    margin: 0;
    font-size: 16px;
}

.modal-body {
    padding: 12px;
}

.modal-body .message {
    font-size: 16px;
}

.modal-footer {
    padding: 12px;
}

.modal-footer .blocoBotoes button {
    margin-bottom: 0;
    width: 100%;
}