<link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
<div class="fundoMenu">
    <nav class="container menu">
        <div class="blocoLogoMenu">
            <a id="logo" routerLink="/login">MyUI</a>
            <ul class="listaMenu">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/users">Usuários</a>
                </li>
            </ul>
        </div>
        <a id="linkSair" routerLink="/login">Sair</a>
    </nav>
</div>