.listaUsuarios {
    font-size: 1.6em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
}

.listaUsuarios li {
    background-color: #FFF;
    box-shadow: 0px 0px 6px #C4C4C4;
    border-radius: 5px;
    margin: 0 10px 20px 10px;
    padding: 20px;
}

.listaUsuarios li img {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;    
}

.listaUsuarios li .blocoBtnsAcoes {
    display: flex;
    margin: 0 -5px;
}

.listaUsuarios li .blocoBtnsAcoes .pButton {
    width: 50%;
    margin: 5px;
}

.paginacao {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.pagina-item {
    margin: 0 5px;   
}

.pagina-link {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 3px 6px #CECECE;
    text-align: center;
    padding: 6px 0;
    display: block;
    color: #5F5F5F;
    text-decoration: none;
    transition: all 180ms ease-in 0s;
}

.pagina-link:hover {
    background-color: #1d8cf8;
    color: #FFF;
}

.pagina-link svg {
    fill: #5F5F5F;
    transition: all 180ms ease-in 0s;
}

.pagina-link:hover svg {
    fill: #FFF;
}

.pagina-link.active {
    background-color: #1d8cf8;
    color: #FFF;
}

.pagina-link.disabled {
    pointer-events: none;
    cursor: auto;
    opacity: 0.5;
}

.pagina-numero {
    
}

@media screen and (max-width: 1024px) {
    .listaUsuarios {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width: 768px) {
    .listaUsuarios {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 560px) {
    .listaUsuarios {
        grid-template-columns: 100%;
    }
}